* {
    margin-bottom: 10px;
    
}
textarea {
    border: 1px solid silver;
    border-radius: 5px;
    width: 200px;
    height: 60px; 

}

.btn-submit {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    border-color: silver;
    background-color: slategrey;
    color: white;
    font-weight: bold;
}

select {
    width: 200px;
    border-radius: 2px;
    background-color: beige;
    color: black;
}   
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}